<div class="message-item messages-divider sticky-top" data-label="Today"></div>

<!-- from me -->
<div class="message-item outgoing-message">
  <div class="message-avatar">
    <figure class="avatar">
      <img
        src="./dist/media/img/women_avatar5.jpg"
        class="rounded-circle"
        alt="image"
      />
    </figure>
    <div>
      <h5>Mirabelle Tow</h5>
      <div class="time">11:56 PM <i class="ti-double-check text-info"></i></div>
    </div>
  </div>
  <div class="message-content">
    I want those files for you. I want you to send 1 PDF and 1 image file.
  </div>
</div>

<!-- from other  -->
<div class="message-item">
  <div class="message-avatar">
    <figure class="avatar">
      <img
        src="./dist/media/img/man_avatar3.jpg"
        class="rounded-circle"
        alt="image"
      />
    </figure>
    <div>
      <h5>Byrom Guittet</h5>
      <div class="time">11:59 PM</div>
    </div>
  </div>
  <div class="message-content message-file">
    <div class="file-icon">
      <i class="fa fa-file-pdf-o"></i>
    </div>
    <div>
      <div>
        important_documents.pdf
        <i class="text-muted small">(50KB)</i>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item mb-0">
          <a href="#">Download</a>
        </li>
        <li class="list-inline-item mb-0">
          <a href="#">View</a>
        </li>
      </ul>
    </div>
  </div>
</div>
