<a href="#" class="dropdown-item" data-navigation-target="contact-information"
  >Profile</a
>

<!-- side bar -->
<div class="sidebar-group">
  <div id="contact-information" class="sidebar">
    <header>
      <span>Profile</span>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#" class="btn btn-outline-light text-danger sidebar-close">
            <i data-feather="x"></i>
          </a>
        </li>
      </ul>
    </header>
    <div class="sidebar-body">
      <div class="pl-4 pr-4">
        <div class="text-center">
          <figure class="avatar avatar-xl mb-4">
            <img
              src="./dist/media/img/women_avatar5.jpg"
              class="rounded-circle"
              alt="image"
            />
          </figure>
          <h5 class="mb-1">Mirabelle Tow</h5>
          <small class="text-muted font-italic">Last seen: Today</small>
        </div>
      </div>
    </div>
  </div>
</div>
